@import "tailwindcss";


body {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


.neon-text {
text-shadow: 0 0 6px rgba(154, 255, 85, 0.08), 0 0 18px rgba(154,255,85,0.06);
}


.glow-btn {
box-shadow: 0 6px 30px rgba(20,255,120,0.06), 0 0 40px rgba(154,255,85,0.04) inset;
transition: transform .18s ease, box-shadow .18s ease;
}
.glow-btn:hover {
transform: translateY(-4px) scale(1.02);
box-shadow: 0 10px 50px rgba(154,255,85,0.12), 0 0 60px rgba(154,255,85,0.12) inset;
}


@keyframes floaty {
0% { transform: translateY(0px); }
50% { transform: translateY(-10px); }
100% { transform: translateY(0px); }
}
.float { animation: floaty 4s ease-in-out infinite; }


@keyframes fadeUp {
from { opacity: 0; transform: translateY(14px); }
to { opacity: 1; transform: translateY(0); }
}
.fade-up { animation: fadeUp .7s cubic-bezier(.16,.8,.32,1) both; }